<div class="row">
  <div class="col-xs-12">
    <h3 class="header-2">
      Таблицы
    </h3>
  </div>
</div>

<div class="row m-t-10">
  <div class="col-xs-12">
    <a [routerLink]="['/cat-tables/new']" class="btn btn-sm">
      <clr-icon shape="plus-circle"></clr-icon>
      Создать новую
    </a>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-xs-12">
    <table class="table">
      <thead>
      <tr>
        <th class="text-xs-left">Название</th>
        <th class="text-xs-left">Описание</th>
        <th class="text-xs-right"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tables">
        <td class="text-xs-left">
          {{row.name}}
        </td>
        <td class="text-xs-left">
          {{row.description}}
        </td>
        <td class="text-xs-right">
          <div class="btn-group">
            <a [routerLink]="['/cat-tables/'+row.id]" class="btn btn-sm">Edit</a>
            <button type="button" class="btn btn-sm btn-danger-outline" (click)="removeEntity(row.id)">Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
